<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <title>First Flask</title>
    </head>
    <body>
        <div class="container">
            <h1>These are my friends</h1>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Occupation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for one_friend in all_friends %}
                    <tr>
                        <td>{{ one_friend.first_name }}</td>
                        <td>{{ one_friend.last_name }}</td>
                        <td>{{ one_friend.occupation }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container">
            <h1>Add a Friend</h1>
            <form class="row" action="/create_friend" method="POST">
                <label for="fname" class="col-sm-2 col-form-label">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="mb-3 form-control" name="fname" placeholder="First Name">
                </div>
                <label for="lname" class="col-sm-2 col-form-label">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="mb-3 form-control" name="lname" placeholder="Last Name">
                </div>
                <label for="occ" class="col-sm-2 col-form-label">Occupation:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="occ" placeholder="Occupation">
                </div>
                <input type="submit" class="btn btn-primary" value="Add Friend">
            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>