<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{ bootstrap.load_css() }}
</head>
<body>
    <div class="container">
        <h1>My Pizzas</h1>
        <table class="table table-dark table-striped table-hover shadow">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Crust</th>
                    <th>Size</th>
                    <th>Sauce</th>
                    <th>Amount of Toppings</th>
                </tr>
            </thead>
            <tbody>
                {% for pizza in pizzas: %}
                <tr>
                    <td>{{ pizza.pizza_type }}</td>
                    <td>{{ pizza.pizza_crust }}</td>
                    <td>{{ pizza.pizza_size }}</td>
                    <td>{{ pizza.pizza_sauce }}</td>
                    <td>{{ pizza.amount_of_toppings }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>